<app-sidebar (sidebarRetracted)="onSidebarRetracted()" [isRetracted]="isMenuRetracted"></app-sidebar>
<app-toolbar [isMenuRetracted]="isMenuRetracted" [pageTitle]="pageTitle"></app-toolbar>
<div class="container" id="editar-usuario" [ngClass]="{'retracted': isMenuRetracted}">
  <form [formGroup]="editarUsuarioForm" (ngSubmit)="onSubmit()">
    <label for="name">Nome Completo:</label>
    <input id="name" formControlName="name" type="text" required />
  
    <label for="phone">Telefone:</label>
    <input placeholder="Ex.: (99) 9 9999-9999" mask="(00) 0 0000-0000" type="text" id="phone" formControlName="phone" required />
  
    <label for="email">E-mail:</label>
    <input id="email" formControlName="email" type="email" required />
  
    <label for="cpf">CPF:</label>
    <input mask="000.000.000-00" placeholder="Ex.: 000.000.000-00" type="text" id="cpf" formControlName="cpf" required />
  
    <label for="birthDate">Data de Nascimento:</label>
    <input id="birthDate" formControlName="birthDate" type="date" required />
  
    <button type="submit">Salvar</button>
    <button type="button" (click)="onDelete()">Deletar</button>
  </form>
</div>
