<div class="card-paciente">
    <div class="img">
        <img src="{{ patient.gender | genderPicture }}" alt="Imagem do paciente">
    </div>
    <div class="information">
        <div class="main-info">
            <h4 class="name">{{ patient.fullName }}</h4>
            <div class="age">
                <p>{{ patient.birthDate | age }} anos</p>
            </div>
        </div>
        <div class="secondary-info">
            <div class="phone"><fa-icon icon="phone"></fa-icon>
                <p>{{ patient.phone | mask: '(00) 0 0000-0000' }}</p>
            </div>
            <div class="plan"><fa-icon icon="id-card"></fa-icon>
                <p>{{ patient.healthInsurance }}</p>
            </div>
        </div>
        <div class="btn">
            <button (click)="editarCadastro(patient.cpf)">Ver mais<fa-icon icon="chevron-right"></fa-icon></button>
        </div>
    </div>
</div>