<form [formGroup]="form" class="fieldset">
    <img src="../../assets/logos/logo-positive.svg" alt="logo">
    <h1>Criar conta</h1>
    <span>Cadastre-se para acessar o sistema</span>
    <div id="name" class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.name.dirty ||
        form.controls.name.touched) &&
        form.controls.name.errors}">
        <input placeholder="Nome completo" type="text" name="name" formControlName="name">
        <span *ngIf="(form.controls.name.dirty ||
            form.controls.name.touched) &&
            form.controls.name.errors &&
            form.controls.name.errors['required']">
            *Preenchimento obrigatório
        </span>
        <span *ngIf="(form.controls.name.dirty ||
            form.controls.name.touched) &&
            form.controls.name.errors &&
            form.controls.name.errors['validarNomeCompleto']">
            *Por favor, insira seu nome completo
        </span>
    </div>
    <div id="email" class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.email.dirty ||
        form.controls.email.touched) &&
        form.controls.email.errors}">
        <input placeholder="Email" type="email" name="email" formControlName="email">
        <span *ngIf="(form.controls.email.dirty ||
            form.controls.email.touched) &&
            form.controls.email.errors &&
            form.controls.email.errors['required']">
            Preenchimento obrigatório
        </span>
    </div>

<!-- Campo de Seleção de Perfil -->
<div id="role" class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.role.dirty ||
form.controls.role.touched) &&
form.controls.role.errors}">
<select formControlName="role">
    <option value="">Selecione o perfil</option>
    <option value="admin">Admin</option>
    <option value="medico">Médico</option>
</select>
<span *ngIf="(form.controls.role.dirty ||
    form.controls.role.touched) &&
    form.controls.role.errors &&
    form.controls.role.errors['required']">
    Preenchimento obrigatório
</span>
</div>

    <div id="password" class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.password.dirty ||
        form.controls.password.touched) &&
        form.controls.password.errors}">
        <input type="password" name="password" formControlName="password" placeholder="Senha">

        <span *ngIf="form.controls.password.dirty &&
              form.controls.password.touched &&
              form.controls.password.errors &&
              form.controls.password.errors['minlength']">
            A senha deve conter ao menos 8 caracteres
        </span>
        <span *ngIf="form.controls.password.dirty &&
              form.controls.password.touched &&
              form.controls.password.errors &&
              form.controls.password.errors['required']">
            Preenchimento obrigatório
        </span>
    </div>
    <div id="password-confirm" class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.confirmarPassword.dirty ||
        form.controls.confirmarPassword.touched) &&
        form.controls.confirmarPassword.errors}">
        <input type="password" name="confirmarPassword" formControlName="confirmarPassword" placeholder="Confirme sua senha">

        <span *ngIf="form.controls.confirmarPassword.dirty &&
              form.controls.confirmarPassword.touched &&
              form.controls.confirmarPassword.errors &&
              form.controls.confirmarPassword.errors['minlength']">
            A senha deve conter ao menos 8 caracteres
        </span>
        <span *ngIf="form.controls.confirmarPassword.dirty &&
              form.controls.confirmarPassword.touched &&
              form.controls.confirmarPassword.errors &&
              form.controls.confirmarPassword.errors['required']">
            Preenchimento obrigatório
        </span>
    </div>

    <button (click)="cadastrar()">Cadastrar</button>
    <div class="sign-up" style="display: none;">
        <a href="login">Voltar para login?</a>
    </div>
</form>